.container{
    width: 100%;
    display: flex;
cursor: pointer;

}

.avatar__image{
position: relative;
width: 3.5rem;
height: 3.5rem;
}

.devil__head{
    position: absolute;
    width: 3.5rem;
    z-index: 10;
}
.user__image{
    position: absolute;
    width: 2rem;
    top: 1rem;
    left: .8rem;
    z-index: 1;
    border-radius: 50%;

}


